<section id="header-app">
    <div class="logo">LOGO</div>
    <nav>
        <ul>
            <a href="#"><li>item</li></a>
            <a href="#"><li>item</li></a>
            <a href="#"><li>item</li></a>
            <a href="#"><li>item</li></a>
            <a href="#"><li>item</li></a>
        </ul>
    </nav>
    <div class="icons">Icons</div>
</section>