body {
    background-color: #ebeef0;
}

#profil-app .main {
    display: flex;
    margin: 20px;
}

#profil-app .main i {
    margin-right: 10px;
}

#profil-app .main .sidebar {
    width: 350px;
    flex: none;
    background-color: #ffffff;
    color: black;
}

#profil-app .main .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

#profil-app .main .sidebar a:hover {
    background-color: f1f1f1;
    box-shadow: 0 1px 2px 0;
    color: black;
}

#profil-app .main .sidebar h4 {
    background-color: #f7d7b9;
    padding: 16px;
    text-align: center;
}

#profil-app .main .sidebar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#profil-app .main .sidebar ul span {
    font-size: 30px;
}

#profil-app .main .sidebar li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#profil-app .main .content {
    flex: auto;
}

#profil-app .content {
    margin-left: 30px;
}

#profil-app .content .form-group {
    margin-bottom: 20px;
}

#profil-app .content #bouton {
    background-color: #f7d7b9;
    margin-left: 79%;
}

#profil-app .content .card {
    margin-top: 20px;
    margin-bottom: 20px;
}

#profil-app .content #adresse {
    background-color: #f2f3f8;
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 20px;
    margin-left: 30%;
}

#profil-app .content .row .col-xl-3 {
    width: 366px;
}

#profil-app .content #card {
    float: left;
    width: 48%;
    margin-right: 20px;
    margin-bottom: 20px;
}

#profil-app .content #card p {
    font-size: 14px;
}